.search-bar-inputs {
  display: flex;
  flex-direction: column;
  margin: 0.3em 0;
  padding: 0.2em;
}

.text-input {
  width: 100%;
}

.radio-btns {
  display: flex;
  justify-content: space-around;
  margin: 0.7em 0;
}

.radio-btns input {
  margin-right: 0.2em;
}

.radio-btns label {
  margin: 0;
}

.search-btn {
  align-self: center;
}
